* {
    margin: 0;
}

h1 {
    margin: 10px;
    text-align: center;
}

h2 {
    margin: 10px;
}

section {
    border: 1px solid;
}

nav {
    display: block;
    margin: 5px;
}

nav > ul {
    display: flex;
    gap: 30px;
}

ul > li:hover {
    background-color:cornflowerblue;
}

a { 
    text-decoration: none;
    color:#000;
}